<div id="margin-end"class="container-fluid fixed-bottom ">
  <form [formGroup]="user" (ngSubmit)="get()">
      <span class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
              <svg width="16" height="16" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                  <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
                  <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
                </svg>
          </span>
          <input type="text" name="name" class="form-control shadow bg-body rounded" placeholder="Username" aria-describedby="addon-wrapping" formControlName="name">
        </span>
      <br>
      <span class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
              <svg width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
          </span>
          <input name="password" type="password" class="form-control shadow bg-body rounded" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping" formControlName="password" >
        </span>
        <br>
        <span class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">
              <svg width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
          </span>
          <input name="Rpassword" type="password" class="form-control shadow bg-body rounded" placeholder="Reenter Password" aria-label="RPassword" aria-describedby="addon-wrapping" formControlName="Rpassword" >
        </span>
        <br>
       <span class=" shadow-sm bg-body rounded text-danger"> {{dis}} </span>
      <span class="input-group flex-nowrap">
          <button class="btn btn-primary container-fluid shadow-sm bg-body rounded" type="submit">Sign up</button>
      </span>
  </form>
  <hr text="or"> 
  <div class="input-group flex-nowrap">
    <a href=# class="btn btn-primary container-fluid shadow-sm bg-body rounded">Back </a>
  </div>
  </div>
